@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.2s;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.3s;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("./assets/img/luxury-dubai.webp");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.background-process {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("./assets/img/skyscrapers-city-highrise-business-buildings.webp");
  background-size: cover;
  height: 80vh;
  background-position: center;
}

.glass-bg {
  background-color: #002A3A;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.bg-house {
  background-image: url(./assets/img/scetch-project-2\ 1.png);
  background-size: 700px 700px;
  height: 80vh;
  background-repeat: no-repeat;
}

.bg-drawing {
  background-image: url(./assets/img/drawing-house\ 1.png);
  background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position-x: right ;
}